{% extends 'base.html' %}
{%load static %}
{% block title %}{{ new_instance.title }}{% endblock %}

{% block content %}
 <h1>{{ new_instance.title }}</h1>
    <p>{{ new_instance.description }}</p>
    <p>Автор: {{ new_instance.author }}</p>
    <p>Дата создания: {{ new_instance.date_of_create|date:"H:i d.m.Y" }}</p>
    <p> Просмотры: {{ new_instance.get_view_count }}</p>
    <h2>Изображения</h2>
    <ul>
        {% for picture in new_instance.picture_set.all %}
        <li><img src="{{ picture.path.url }}" alt="Изображение"></li>
        {% endfor %}
    </ul>

{% endblock %}