{% extends 'base.html' %}
{%load static %}
{% block title %}Новости{% endblock %}

{% block content %}


<div class=" lots container">
    <h2 class="mb-4">Новостная лента</h2>

    <div class="row">
        {% for news in news_list %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="news-item">
    <h2>{{ news.title }}</h2>
    <p class="description">{{ news.date_of_create|date:"H:i d.m.Y" }}</p>
    <p class="description">{{ news.description }}</p>

    {% if news.description|length > 1 %}
      <a href="#" class="toggle-description-link">Развернуть</a>
    {% endif %}
  </div>
                    <div id="carousel{{ news.id }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for picture in news.picture_set.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ picture.path.url }}" alt="{{ picture.id }}" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ news.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ news.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>


</div>
   {%if news_list%}
  {%if page_obj.paginator.num_pages > 1%}
        <div class="pagination pagination-container">

        <span class="page-info">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

             {% if page_obj.has_previous %}
            {%if page_obj.paginator.num_pages > 2%}
            <a href="?page=1">Первая</a>
             {% endif %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            {%if page_obj.paginator.num_pages > 2%}
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
        {% endif %}

    </div>
{% endif %}
         {%else%}
<h3>Новостей нет</h3>
    {%endif%}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toggleLinks = document.querySelectorAll('.toggle-description-link');

    toggleLinks.forEach(link => {
      const description = link.previousElementSibling;
      const originalText = description.innerText;
      const truncatedText = originalText.slice(0, 1);

      description.innerText = truncatedText;

      link.addEventListener('click', function(event) {
        event.preventDefault();

        if (description.innerText === truncatedText) {
          description.innerText = originalText;
          link.innerText = 'Свернуть';
        } else {
          description.innerText = truncatedText;
          link.innerText = 'Развернуть';
        }

        description.classList.toggle('expanded');
      });
    });
  });
</script>
{% endblock %}